<div class="flex w-full " style="background-color: #F9F5F3; height: 41.2rem;">
  <!-- Main Content - 70% width -->
  <div class="flex flex-col items-start justify pt-4 pl-4 w-[70%]">
    <!-- Cards Section -->
    <div class="grid grid-cols-4 gap-5 w-full mb-4 cards">
      <!-- Total Value Card -->
      <div class="p-6 bg-red-100 rounded shadow-md">
        <h2 class="text-2xl font-semibold">71,028 EGP</h2>
        <p class="text-gray-600">Total Value</p>
        <p class="text-red-500 text-sm">▼ 2%</p>
      </div>

      <!-- Total Sales Card -->
      <div class="p-6 bg-gray-100  shadow-md">
        <h2 class="text-2xl font-semibold">20,000 m³</h2>
        <p class="text-gray-600">Total Sales</p>
        <p class="text-green-500 text-sm">▲ 50 m³</p>
      </div>

      <!-- Avg Sales Card -->
      <div class="p-6 bg-gray-100  shadow-md">
        <h2 class="text-2xl font-semibold">20,000 m³</h2>
        <p class="text-gray-600">Avg Sales</p>
        <p class="text-red-500 text-sm">▼ 50 m³</p>
      </div>

      <!-- Total Transaction Count Card -->
      <div class="p-6 bg-gray-100  shadow-md">
        <h2 class="text-2xl font-semibold">1567</h2>
        <p class="text-gray-600">Total Transaction Count</p>
        <p class="text-green-500 text-sm">▲ 20</p>
      </div>
    </div>

    <!-- Tabs Section Below the Cards -->
    <div class="w-full mt-0">
      <app-tab></app-tab>
    </div>
  </div>

  <!-- Sidebar - 30% width -->
  <div class="w-[30%]">
    <!-- <h2 class="radarName"> Hourly Sales</h2> -->
    <app-righ-sidebar></app-righ-sidebar>
  </div>
</div>
